fail_fast: true
repos:
  - repo: https://github.com/ambv/black
    rev: '20.8b1'
    hooks:
      - id: black
        args: [--diff, --check]

  - repo: https://github.com/pre-commit/mirrors-pylint
    rev: 'v3.0.0a1'
    hooks:
      - id: pylint
        args: [--disable=all, --enable=unused-import]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v0.812'
    hooks:
      - id: mypy
        exclude: ^tests/
        args: [--ignore-missing-imports]
