fail_fast: true
exclude: (^docs)
repos:
  - repo: https://github.com/ambv/black
    rev: 22.8.0
    hooks:
      - id: black
        args: [--diff, --check]

  - repo: https://github.com/pre-commit/mirrors-pylint
    rev: v3.0.0a5
    hooks:
      - id: pylint
        args: [--disable=all, --enable=unused-import]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.971
    hooks:
      - id: mypy
        args: [--strict]
        additional_dependencies:
          - aiozmq<1
          - django<5
          - fastapi<1
          - flask<3
          - flask-socketio<5.3.1
          - pytest
          - pyzmq
          - sanic
          - tornado<7
          - types-setuptools
          - websockets<11
