default_language_version:
  python: python3.8
exclude: (^docs)
fail_fast: true
repos:
  - repo: https://github.com/ambv/black
    rev: 22.8.0
    hooks:
      - id: black
        args: [--diff, --check]

  - repo: https://github.com/PyCQA/pylint
    rev: v2.15.3
    hooks:
      - id: pylint
        additional_dependencies:
          - oslash<1
          - aiohttp<4
          - aiozmq<1
          - django<5
          - fastapi<1
          - flask<3
          - flask-socketio<5.3.1
          - jsonschema<5
          - pytest
          - pyzmq
          - sanic
          - tornado<7
          - uvicorn<1
          - websockets<11

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.971
    hooks:
      - id: mypy
        args: [--strict]
        additional_dependencies:
          - aiohttp<4
          - aiozmq<1
          - django<5
          - fastapi<1
          - flask<3
          - flask-socketio<5.3.1
          - pytest
          - pyzmq
          - sanic
          - tornado<7
          - types-setuptools
          - uvicorn<1
          - websockets<11
