/* Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
    line-height: 100%;
}

/* Basic styling */
body {
    background-color: white;
    color: #3E4349;
    font-family: 'goudy old style', 'minion pro', 'bell mt', Georgia, 'Hiragino Mincho Pro', serif;
    font-size: 19px;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', 'Garamond', 'Georgia', serif !important;
    font-weight: normal !important;
    color: #444 !important;
}

h1 {
    font-size: 1.5em !important;
    margin-top: 20px !important;
    margin-bottom: 30px !important;
}

h2 {
    margin: 30px 0 20px 0 !important;
    font-size: 1.2em !important;
}

h3 {
    margin: 20px 0 20px 0 !important;
    font-size: 1em !important;
}

/* Stop headings from appearing as links when 'contents' is used */
h2 a, h2 a:hover,
h3 a, h3 a:hover {
    color: inherit;
    text-decoration: none;
}

a {
    text-decoration: none;
    border: none !important;
}

p, blockquote, pre, ul, ol, figure, .exception {
    margin-bottom: 20px;
    line-height: 160%;
}

/* Lists */
ul {
    margin: 0px 0 10px 1.5em;
}

pre, code {
    background-color: inherit;
    font-family: 'Consolas', 'Menlo', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    line-height: 140%;
    font-size: 0.9em;
}

pre {
    border-radius: 3px;
    background-color: #eee;
    overflow-x: auto;
    padding: 10px 20px;
    border: 0;
    font-size: 0.8em;
    line-height: 140%;
}

@media screen and (max-width: 600px) {
    pre {
        font-size: 1em;
    }
}

.documentwrapper {
  max-width: -webkit-calc(800px);
  max-width: calc(800px);
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 600px) {
    .documentwrapper {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
}
