name: Code Quality
on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - run: pip install --upgrade pip
    - run: pip install types-setuptools "black<23" ruff "mypy<1" "jsonschema<5" pytest "returns<1" "aiohttp<4" "aiozmq<1" "django<5" "fastapi<1" "flask<3" "flask-socketio<5.3.1" "pyzmq" "sanic" "tornado<7" "uvicorn<1" "websockets<11"
    - run: black --diff --check $(git ls-files -- '*.py' ':!:docs/*')
    - run: ruff $(git ls-files -- '*.py' ':!:docs/*')
    - run: mypy --strict $(git ls-files -- '*.py' ':!:docs/*')
